@import "contacts";
.header {
   background-color: $white-main-color;
   border-bottom: 1px solid #ececec;
   &-container {
      @media screen and (min-width: 768px) {
         display: flex;
      }
   }

   .menu-button {
      position: absolute;
      top: 10px;
      right: 10px;
      border: none;
      font-size: 0;
      background-color: inherit;
      @media screen and (min-width: 768px) {
         display: none;
      }
   }
}
.main-nav {
   @media screen and (max-width: 767px) {
      display: none;
   }
   @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-right: 96px;
   }
   margin-left: 88px;
}
.contacts-block {
   @media screen and (max-width: 767px) {
      display: none;
   }
}
.main-nav,
.pages-list {
   @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
   }
}
.pages-list-item {
   @media screen and (min-width: 768px) {
      &:not(:first-child) {
         margin-left: 50px;
      }
   }
}
.page {
   position: relative;

   display: block;

   font-weight: 500;
   font-size: 14px;
   line-height: 1.1;
   letter-spacing: 0.02em;
   text-decoration: none;
   color: $main-text-color;
   font-style: normal;

   transition: $cubic;

   padding-bottom: 32px;
   padding-top: 32px;

   &.active::after {
      content: "";

      position: absolute;
      bottom: -1px;

      display: block;
      width: 100%;
      height: 4px;

      background-color: $accent-color;

      border-radius: 2px;
   }

   &:visited {
      color: inherit;
   }
   &:hover,
   &:focus {
      color: $accent-color;
   }
}
