$logo-text-color: #000000;
$secondary-text-color: #757575;
$main-text-color: #212121;
$white-main-color: #ffffff;
$accent-color: #2196f3;
$bg-secondary-color: #2f303a;
$bg-team-color: #f5f4fa;
$icon-color: #afb1b8;
$button-active-color: #188ce8;
$advantage-icon-bg: #f5f4fa;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
